.overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(128, 93, 255,1);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
}

.popup .btn-cerrar-popup{
    display: block;
    text-align: right;
    transition: .3s ease all;
    line-height: 16px;
}

.popup .btn-cerrar-popup:hover{
    color:maroon;
}

.popup h3{
    font-size: 36px;
    color: blueviolet;
    font-weight: 700;
}

.popup h4{
    font-size: 26px;
    color: rgb(45, 17, 71);
    font-weight: 300;
    margin-bottom: 20px;
}

.notice.inactive{
    visibility: hidden;
}

.popup form .contenedor-inputs input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(132, 0, 255);
}

.popup form .btn-submit{
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: blueviolet;
    cursor: pointer;
    transition: .3s ease all;

}

.popup form .btn-submit:hover{
    color: blueviolet;
    background: white;
}

.popup .notice{
    margin-bottom: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer .redes a{
    font-size: 40px;
    display: inline-block;
    color: blueviolet;
    border: 3px solid violet;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.redes a:hover{
    color: whitesmoke;
    background:rgba(128, 93, 255,1);
}

/* NEW STYLES */

#titulo-footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgb(200, 83, 153);
    margin-right: 50px;
    margin-bottom: 0px;
}

#contenedor-video {
    display: flex;
    justify-content: center;
}

#btn-abrir-popup {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(200, 83, 153, 1);
    border-radius: 10px;
    font-family: 'Courier New';
    font-size: 20px;
    font-style: italic;
    color: rgb(200, 83, 153);
}

#newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#titulo-form{
    font-family:'Courier New', Courier, monospace;
    color: rgb(200, 83, 153);
    font-weight:bold;
}

#card-body {
    background-color: rgba(227, 230, 255, 1);
}

#nav-bar {
    margin: 0px;
    padding: 0px;
    background-color: #e3f2fd;
}

#subBtn {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(200, 83, 153, 1);
    border-radius: 10px;
    font-family: 'Courier New';
    font-size: 18px;
    font-style: italic;
    color: rgb(200, 83, 153);
    margin-top: 10px;
}
#subBtn:hover {
    background-color: rgb(200, 83, 153);
    color:#e3f2fd;
    transition: 0.2s;
}

#subBtn:active {
    background-color: rgb(145, 22, 95);
    color:#e3f2fd;
    transition: 0.2s;
    font-weight:bold;
}

#formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email {
    background-color: whitesmoke;
    border-color: rgba(200, 83, 153, 1);
    border-radius: 4px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}